@using SukkotMeNET.Extensions
@using SukkotMeNET.Components
@using SukkotMeNET.Models
@using SukkotMeNET.Services
@inherits PageLayoutBase
@inject AppStateService State

<PageTitle>SukkotMeNET</PageTitle>

<Navbar />

@if (State.Alerts.Any())
{
    <div class="fixed w-full h-full top-0 left-0 z-50">
        @foreach (var alert in State.Alerts)
        {
            <div class=@string.Format($"px-8 py-6 text-white flex bg-{alert.Type.ToFriendlyString()}-500 justify-between mx-3 md:mx-auto shadow-2xl rounded my-3 md:w-2/3 lg:1/2")>
                <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 mr-6" viewBox="0 0 20 20" fill="currentColor">
                        @if (alert.Type == AlertType.Success)
                        {
                            <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"/>
                        }
                        else if (alert.Type == AlertType.Error)
                        {
                            <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                        }
                        else if (alert.Type == AlertType.Information)
                        {
                            <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
                        }
                    </svg>
                    <p>
                        <b>@alert.Title</b> @alert.Message
                    </p>
                </div>
                <span>
                    <svg class="fill-current h-6 w-6 text-white" role="button" @onclick="@OnRemoveAlert(alert)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <title>Close</title>
                        <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
                    </svg>
                </span>
            </div>

            @*<div class="@string.Format($"relative bg-{alert.Type.ToFriendlyString()}-100 border-{alert.Type.ToFriendlyString()}-400 text-{alert.Type.ToFriendlyString()}-700 left-1/2 transform -translate-x-1/2 mt-5 border px-4 py-3 w-1/2 rounded")" role="alert">
                <strong class="font-bold">@alert.Title</strong>
                <span class="block sm:inline">@alert.Message</span>
                <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                    <svg class="@string.Format($"fill-current h-6 w-6 text-{alert.Type.ToFriendlyString()}-500")" role="button" @onclick="@OnRemoveAlert(alert)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                </span>
            </div>*@
        }
    </div>
}

@* @if (State.IsLoading)
{
    <div class="fixed p-5 w-screen h-screen top-0 z-50 bg-black bg-opacity-50 grid place-content-center">
        
        <svg aria-hidden="true" class="inline w-10 h-10 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="#047857" />
        </svg>
        <span class="sr-only">Loading...</span>
    </div>
} *@

@*Shmitta button*@
@*<span class="fixed bottom-5 left-5 text-green-500 bg-white z-40 rounded-full"
      @onclick="() => _ShowShmittahPopup = true">
    <b><i class="fa fa-info-circle" style="font-size: 50px;" aria-hidden="true"></i></b>
</span>*@

@if (_ShowShmittahPopup)
{
    <div class="fixed p-5 w-screen h-screen top-0 z-50 bg-black bg-opacity-50" @onclick="() => _ShowShmittahPopup = false">
        <div class="relative w-full h-full">
            <img src="/images/SHMITTAH-AWARENESS.jpg"  @onclick:stopPropagation="true"
                 class="max-w-full max-h-full rounded-md shadow-xl absolute inset-1/2 transform -translate-x-1/2 -translate-y-1/2">
        </div>
    </div>
}

<CascadingValue Value="this" Name="ErrorComponent">
    @Body
</CascadingValue>

<Footer />

@code {
    bool _ShowShmittahPopup;

    Action OnRemoveAlert(Alert alert) => () => MainService.RemoveAlert(alert);
}