@if (IsLink)
{
    <NavLink href="@Link" class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 dark:bg-gray-800 shadow-2xl  sm:rounded-xl">
        <div class="p-3 text-white w-14 h-14 bg-green-500 rounded-full grid place-content-center">
            <i style="display: grid; font-size:20px;" class="@string.Concat("fas w-8 h-8 place-content-center", ' ', FaIcon)"></i>
        </div>
        <h4 class="text-xl font-medium text-gray-700">@Title</h4>
        <p class="text-base text-center text-gray-500">@Text</p>
    </NavLink>
}
else
{
    <div @onclick="Onclick" class="cursor-pointer relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 dark:bg-gray-800 shadow-2xl  sm:rounded-xl">
        <div class="p-3 text-white w-14 h-14 bg-green-500 rounded-full grid place-content-center">
            <i style="display: grid; font-size:20px;" class="@string.Concat("fas w-8 h-8 place-content-center", ' ', FaIcon)"></i>
        </div>
        <h4 class="text-xl font-medium text-gray-700 text-center">@Title</h4>
        <p class="text-base text-center text-gray-500">@Text</p>
    </div>
}

@code {
    [Parameter]
    public string FaIcon { get; set; } = string.Empty;
    [Parameter]
    public string Title { get; set; } = string.Empty;
    [Parameter]
    public string Text { get; set; } = string.Empty;
    [Parameter]
    public string Link { get; set; } = string.Empty;
    [Parameter]
    public EventCallback<MouseEventArgs> Onclick { get; set; }

    bool IsLink => !string.IsNullOrEmpty(Link);
}
