@using IEsrog.Models
<EditForm OnSubmit="@OnSubmitClick" Model="@_User"
          class="w-full max-w-lg bg-white dark:bg-gray-800 border-b-2 border-gray-300 dark:border-gray-900 rounded-lg shadow-2xl p-8 py-10" s>
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
            <h3 class="mb-6 text-2xl font-medium text-center dark:text-gray-300">
                @(JustUserCreation == true ? "Create new User" : "Sign Up")
            </h3>
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="grid-first-name">
                First Name
            </label>
            <input required type="text" @bind-value="@_User.FirstName" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" />
        </div>
        <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="grid-last-name">
                Last Name
            </label>
            <input required type="text" @bind-value="@_User.LastName" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" />
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="emailInput">
                Email
            </label>
            <input required="@IsRegister" type="email" @bind-value="@_User.Email" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" />
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="phoneInput">
                Phone Number
            </label>
            <input required="@IsRegister" @bind-value="@_User.PhoneNumber" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" />
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="grid-password">
                Password
            </label>
            <input required="@IsRegister" type="password" @bind-value="@_User.Password"
                   class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" />
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full md:w-1/2 lg:w-1/4 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="street">
                Address
            </label>
            <input required="@IsRegister" type="text" @bind-value="@_User.Address.Street"
                   class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" />
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="grid-city">
                City
            </label>
            <input required="@IsRegister" @bind-value="@_User.Address.City" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" />
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="grid-state">
                State
            </label>
            <input required="@IsRegister" @bind-value="@_User.Address.State" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" />
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="grid-zip">
                Zip
            </label>
            <input required="@IsRegister" @bind-value="@_User.Address.Zip" type="number" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" />
        </div>
    </div>

    <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full px-3">
            <button type="submit" class="w-full px-6 py-3 mt-3 text-lg text-white bg-green-600 rounded-md sm:mb-0 hover:bg-green-700">
                @(JustUserCreation == true ? "Create" : "Sign Up")
            </button>
        </div>
    </div>
    @if (IsRegister)
    {
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
                <p class="w-full mt-4 text-sm text-center text-gray-500">
                    Already have an account?
                    <NavLink href="/login" class="text-green-500 underline font-bold cursor-pointer">Sign in</NavLink>
                </p>
            </div>
        </div>
    }
</EditForm>

@code {

    [Parameter] 
    public Action<User>? OnSubmit { get; set; }

    bool IsRegister => JustUserCreation != true;

    [Parameter] 
    public bool? JustUserCreation { get; set; }

    User _User = new();

    void OnSubmitClick()
    {
        OnSubmit?.Invoke(_User);
    }
}
