@page "/user/profile"
@using IEsrog.Models
@using IEsrog.Services

<div class="py-20 bg-white dark:bg-gray-700 container max-w-6xl mx-auto grid justify-center px-2">
    <div class="w-full max-w-lg bg-white dark:bg-gray-800 border-b-2 border-gray-300 dark:border-gray-900 rounded-lg shadow-2xl p-8 py-10" s>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
                <h3 class="mb-6 text-2xl font-medium text-center dark:text-gray-300">Profile</h3>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="grid-first-name">
                    First Name
                </label>
                <input value="@CurrentUser.FirstName" disabled="@(!CanModify)" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" />
            </div>
            <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="grid-last-name">
                    Last Name
                </label>
                <input value="@CurrentUser.LastName" disabled="@(!CanModify)" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" />
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="emailInput">
                    Email
                </label>
                <input value="@CurrentUser.Email" disabled="@(!CanModify)" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="emailInput" type="email" />
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="phoneInput">
                    Phone Number
                </label>
                <input value="@CurrentUser.PhoneNumber" disabled="@(!CanModify)" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="phoneInput" type="phone" />
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-2">
            <div class="w-full md:w-1/2 lg:w-1/4 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="street">
                    Street
                </label>
                <input value="@CurrentUser.Address?.Street" disabled="@(!CanModify)" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" />
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="grid-city">
                    City
                </label>
                <input value="@CurrentUser.Address?.City" disabled="@(!CanModify)" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-city" type="text" />
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="grid-state">
                    State
                </label>
                <input value="@CurrentUser.Address?.State" disabled="@(!CanModify)" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state" type="text" />
            </div>
            <div class="w-full md:w-1/2 lg:w-1/4 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-500 text-xs font-bold mb-2" for="grid-zip">
                    Zip
                </label>
                <input value="@CurrentUser.Address?.Zip" disabled="@(!CanModify)" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-zip" type="text" />
            </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-2">
            <div class="w-full px-3">
                <button @onclick="ToggleCanModify" class="w-full px-6 py-3 mt-3 text-lg text-white bg-green-600 rounded-md sm:mb-0 hover:bg-green-700">
                    @(CanModify ? "End Edit" : "Edit")
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    [Inject] public AppStateService State { get; set; }

    bool CanModify;
    User CurrentUser;

    protected override void OnInitialized()
    {
        CurrentUser = State.User;
    }

    void ToggleCanModify()
    {
        CanModify = !CanModify;
        StateHasChanged();
    }
}
